<div style="margin-top: 10%">

	<div class="row justify-content-center">
		<div class="col-sm-6 signup-form" style="background-color: #F8F9FA; padding: 30px">
			<h1 class="text-center">hack<small class="text-muted">/r/</small>dot</h1>
			<h3 class="text-muted">create an account</h3>

			<%= form_for(@user, url: signup_path) do |f| %>
				<%= render 'include/error_messages' %>

				<%= f.label :name, 'name' %>
				<%= f.text_field :name, class: 'form-control' %>
				<br>
				<%= f.label :email, 'email' %>
				<%= f.email_field :email, class: 'form-control' %>
				<br>
				<%= f.label :password, 'password' %>
				<%= f.password_field :password, class: 'form-control' %>
				<br>
				<%= f.label :password_confirmation, "confirmation" %>
				<%= f.password_field :password_confirmation, class: 'form-control' %>

				<br>

				<%= f.check_box :subscribed %>
				<%= f.label :subscribed, 'subscribe to the weekly mailing list' %>

				<br>
				<br>
				<%= f.submit "submit", class: 'btn btn-success btn-block' %>
			<% end %>
		</div>

	</div>

</div>
