<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h2>HackerNews</h2>
      <table class="table">
        <% @hn_posts.each do |hn_post| %>
          <tr>
            <td>
              <strong>
                <%= hn_post.score %>
              </strong>
            </td>
            <td>
              <a href="<%= hn_post.article_url %>" style="color: black" target="_blank">
                <%= hn_post.title %>
              </a>
              <small class="text-muted">
                (<%= hn_post.domain %>)
              </small>
            </td>
            <td>
              <a class="badge badge-warning badge-pill" href="<%= hn_post.hn_url %>" target="_blank">
                <%= hn_post.comment_count %>
              </a>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="col">
      <h2>r/programming</h2>
      <table class="table">
        <% @reddit_posts.each do |reddit_post| %>
          <tr>
            <td>
              <strong>
                <%= reddit_post.score %>
              </strong>
            </td>
            <td>
              <a href="<%= reddit_post.article_url %>" style="color: black" target="_blank">
                <%= reddit_post.title %>
              </a>
              <small class="text-muted">
                (<%= reddit_post.domain %>)
              </small>
            </td>
            <td>
              <a class="badge badge-primary badge-pill" href="<%= reddit_post.reddit_url %>" target="_blank">
                <%= reddit_post.comment_count %>
              </a>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="col">
      <h2>Slashdot</h2>
      <table class="table">
        <% @sd_posts.each do |sd_post| %>
          <tr>
            <td>
              <a href="<%= sd_post.sd_url %>" style="color: black" target="_blank">
                <%= sd_post.title %>
              </a>
              <small class="text-muted">
                <a href="<%= sd_post.article_url %>" class="text-muted">
                  <%= sd_post.domain %>
                </a>
              </small>
            </td>
            <td>
              <a class="badge badge-info badge-pill" href="<%= sd_post.sd_url %>" target="_blank">
                <%= sd_post.comment_count %>
              </a>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>