<br>

<% flash.each do |message_type, message| %>
	<div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand">hackr.</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<%= link_to "about", about_path, class: 'nav-link' %>
			</li>
			<li class="nav-item">
				<%= link_to "support", support_path, class: 'nav-link' %>
			</li>
		</ul>
		<span>
		<% if logged_in? %>
			<%= link_to "my bookmarks", show_bookmarks_path(user_id: current_user.id), class: 'btn 
				btn-outline-dark'%>
			<%= link_to "log out", logout_path, class: 'btn btn-outline-danger'%>
		<% else %>
			<%= form_for :session, url: login_path, html: {class: "form-inline"} do |f| %>
				<%= f.email_field :email, class: 'form-control mr-sm-2', placeholder: 'email' %>
				<%= f.password_field :password, class: 'form-control mr-sm-2', placeholder: 'password' %>

				<%= f.submit 'log in', class: 'btn btn-success mr-sm-2' %>
				<a class="btn btn-outline-dark" href="/signup" role="button">sign up</a>
			<% end %>
		<% end %>	
	</span>
	</div>

</nav>

<br>