<br>

<% flash.each do |message_type, message| %>
	<div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

<nav class="navbar navbar-expand-lg navbar-light bg-light">

	<a class="navbar-brand" href="/">
		hackr. <small class="text-muted">v1.0</small>
	</a>

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<%= link_to "about", about_path, class: 'nav-link' %>
			</li>
		</ul>

		<% if logged_in? %>

			<% if !current_user.subscribed? %>
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<%= link_to "subscribe to the mailing list", 
												subscribe_path(user_id: current_user.id),
												class: 'btn btn-outline-dark' %>
					</li>
				</ul>
			<% end %>

			<span>
				<div class="btn-toolbar">
					<%= link_to "bookmarks", show_bookmarks_path, class: 'btn btn-light'%>

					<div class="dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<strong> <%= current_user.name.split(' ')[0] %> </strong>
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<%= link_to "log out", logout_path, class: 'dropdown-item'%>
						</div>
					</div>				
				</div>
			</span>

		<% else %>
			<span>
				<%= form_for :session, url: login_path, html: {class: "form-inline"} do |f| %>
					<%= f.email_field :email, class: 'form-control mr-sm-2', placeholder: 'email' %>
					<%= f.password_field :password, class: 'form-control mr-sm-2', placeholder: 'password' %>

					<%= f.submit 'log in', class: 'btn btn-outline-dark mr-sm-2' %>
					<a class="btn btn-success" href="/signup" role="button">sign up</a>
				<% end %>
			</span>
		<% end %>	
	</div>

</nav>

<br>