<table class="table table-borderless">
  <thead class="hn-filler">
    <th colspan="3">
      
    </th>
  </thead>
  <% @hn_posts.each do |hn_post| %>
    <tr class="hn-row">
      <td>
        <strong class="hn-secondary-text">
          <%= hn_post.score %>
        </strong>
      </td>
      <td>
        <a href="<%= hn_post.article_url %>" style="color: black" target="_blank">
          <%= hn_post.title %>
        </a>
        <small class="text-muted hn-secondary-text">
          (<%= hn_post.domain %>)
        </small>
      </td>
      <td style="width: 15%">
        <a class="hn-secondary-text" href="<%= hn_post.hn_url %>" target="_blank">
          <u><%= hn_post.comment_count %> <%= hn_post.comment_count == 1 ? 'comment' : 'comments' %> </u>
        </a>
      </td>
    </tr>
  <% end %>
</table>