<table class="table table-borderless">
  <thead class="hn-filler">
    <th colspan="4">
      
    </th>
  </thead>
  <% @hn_posts.each do |hn_post| %>
    <tr class="hn-row">
      <td>
        <strong class="hn-secondary-text">
          <%= hn_post.score %>
        </strong>
      </td>
      <td>
        <a href="<%= hn_post.article_url %>" class="hn-title" target="_blank">
          <%= hn_post.title %>
        </a>
        <small class="text-muted hn-secondary-text">
          (<%= hn_post.domain %>)
        </small>
      </td>
      <% if logged_in? %>
        <% if @saved_posts.include? hn_post.comments_url %>
          <td>
            Saved
          </td>
        <% else %>
          <td>
            <%= link_to "Save", create_bookmark_path(user_id: current_user.id, comments_url: hn_post.comments_url, title: hn_post.title), class: "btn btn-secondary btn-block btn-sm", remote: true %>
          </td>
        <% end %>
      <% end %>
      <td>
        <a class="btn btn-secondary hn-comment-button btn-block btn-sm comment-button" href="<%= hn_post.comments_url %>" target="_blank">
          <strong><%= hn_post.comment_count %></strong>
        </a>
      </td>
    </tr>
  <% end %>
</table>