<table class="table table-borderless">
  <thead class="reddit-filler">
    <th colspan="4">
    
    </th>
  </thead>
  <% @reddit_posts.each do |reddit_post| %>
    <tr>
      <td>
        <strong class="reddit-secondary-text">
          <%= reddit_post.score %>
        </strong>
      </td>
      <td>
        <a href="<%= reddit_post.article_url %>" class="reddit-title" target="_blank">
          <%= reddit_post.title %>
        </a>
        <small class="reddit-secondary-text">
          (<%= reddit_post.domain %>)
        </small>
      </td>
      <% if logged_in? %>
        <% if @saved_posts.include? reddit_post.comments_url %>
          <td>
            Saved
          </td>
        <% else %>
          <td>
            <%= link_to "Save", bookmarks_path(user_id: current_user.id, comments_url: reddit_post.comments_url, title: reddit_post.title), class: "btn btn-secondary btn-block btn-sm", remote: true %>
          </td>
        <% end %>
      <% end %>
      <td>
        <a class="btn btn-secondary reddit-comment-button btn-block btn-sm comment-button" href="<%= reddit_post.comments_url %>" target="_blank">
          <strong><%= reddit_post.comment_count %></strong>
        </a>
      </td>
    </tr>
  <% end %>
</table>