<table class="table table-borderless">
  <thead class="reddit-filler">
    <th colspan="3">
    
    </th>
  </thead>
  <% @reddit_posts.each do |reddit_post| %>
    <tr>
      <td>
        <strong class="reddit-secondary-text">
          <%= reddit_post.score %>
        </strong>
      </td>
      <td>
        <a href="<%= reddit_post.article_url %>" style="color: blue" target="_blank">
          <%= reddit_post.title %>
        </a>
        <small class="reddit-secondary-text">
          (<%= reddit_post.domain %>)
        </small>
      </td>
      <td style="width: 15%">
        <a class="reddit-secondary-text" href="<%= reddit_post.reddit_url %>" target="_blank">
          <u class="mb-0"><%= reddit_post.comment_count %> <%= reddit_post.comment_count == 1 ? 'comment' : 'comments' %></u>
        </a>
      </td>
    </tr>
  <% end %>
</table>