<table class="table table-borderless">
  <thead class="sd-filler">
    <th colspan="3">
      
    </th>
  </thead>
  <% @sd_posts.each do |sd_post| %>
    <tr>
      <td colspan="2" class="sd-spacer"></td>
    </tr>
    <tr class="sd-row">
      <td class="sd-title-cell">
        <a href="<%= sd_post.comments_url %>" class="sd-title" target="_blank">
          <strong>
            <%= sd_post.title %>
          </strong>
        </a>
        <a href="<%= sd_post.article_url %>" class="sd-secondary-text" target="_blank">
          <small><%= sd_post.domain %></small>
        </a>
      </td>
      <% if logged_in? %>
        <% if @saved_posts.include? "https:#{sd_post.comments_url}" %>
          <td>
            <%= link_to "", handle_bookmark_path(user_id: current_user.id, comments_url: sd_post.comments_url, title: sd_post.title, source: 'home'), class: "fas fa-bookmark sd-bookmark fa-lg", remote: true %>
          </td>
        <% else %>
          <td>
            <%= link_to "", handle_bookmark_path(user_id: current_user.id, comments_url: sd_post.comments_url, title: sd_post.title, source: 'home'), class: "far fa-bookmark sd-bookmark fa-lg", remote: true %>
          </td>
        <% end %>
      <% end %>
      <td class="sd-title-cell">
        <a class="btn btn-dark btn-block btn-sm comment-button sd-comment-button" href="<%= sd_post.comments_url %>" target="_blank">
          <strong><%= sd_post.comment_count %></strong>
        </a>
      </td>
    </tr>
    <tr>
      <!-- SUMMARY -->
      <td class="sd-summary-row" colspan="3">
        <p class="sd-summary-text">
          <%= sd_post.summary.html_safe %>
        </p>
      </td>
    </tr>
    <tr>
      
    </tr>
  <% end %>
</table>