<!DOCTYPE html>
<html>
  <head>
    <title>Hackrdot</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% if Rails.env == 'production' %>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-137899292-3"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-137899292-3');
      </script>
    <% end %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/86290791b6.js"></script>
  </head>

  <body>
    <% if logged_in? %>
      <p id="user-id" style="display:none"> <%= current_user.id %> </p>
    <% end %>
    <%= yield %>
  </body>
</html>

