<!DOCTYPE html>
<html>
  <head>
    <title>Hackrdot</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="UTF-8">
    <meta name="description" content="A reader for Hacker News, r/programming, and Slashdot.">
    <meta name="keywords" content="hacker news, reddit, programming, slashdot, technology, news">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% if Rails.env == 'production' %>
      <!-- Adsense -->
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-1961380989326215",
          enable_page_level_ads: true
        });
      </script>
    <% end %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/86290791b6.js"></script>
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>

    <% if Rails.env == 'production' %>
      <script async defer src="https://api.hackrdot.com/app.js"></script> 
      <noscript><img src="https://api.hackrdot.com/image.gif" alt=""></noscript>
    <% end %>
  </body>
</html>
